{% set language = {
  "pageName":"Account Statement",
  "availableBalanceText":"Account Balance: ",
  "dateText":"Date",
  "amountText":"Amount",
  "descriptionText":"Description",
  "showMoreText":"Show More..",
  "payNowText":"Pay Now"
} %}
