{% set utils = aek.extension("CMAuthUtilities") %}
{% set OAuthAccessToken = utils.getOAuthAccessToken() %}

{% if aek.action == "get-account" %}

  {% set service = aek.create_service("https://apigateway.nku.edu/studentapi/account") %}
  {{ service.set_method("GET") }}
  {{ service.set_header("Accept", "application/json") }}
  {{ service.set_authorization("Bearer " ~ OAuthAccessToken) }}
  {{ aek.respond(service.json) }}

{% endif %}
