{% set _config={
  "PUBLIC":{
    "storageKey":"aek2-nku-account-balance",
    "language": language,
    "theme": theme,
    "currency_prefix": currency_prefix,
    "transactionsToShow": 3,
    "payNowUrl": "https://mynku.nku.edu/irj/servlet/prt/portal/prtroot/pcd!3aportal_content!2fNKUContent!2fcom.nku.folder.roles!2fcom.nku.role.biller_direct_abap!2fcom.nku.workset.overview!2fcom.nku.page.account_statement"
  }
} %}
